<table class="table table-bordered">
  <tr>
    <td>Buggy</td>
    <td>Hill 2</td>
    <td>Hill 3</td>
    <td>Hill 4</td>
    <td>Hill 5</td>
  </tr>
{% for buggyRoll in rolls %}
  <tr>
    <td>{{ buggyRoll.buggy.name }}</td>
    {% for hill in buggyRoll.hills %}
    <td>
    {% if editable %}
      <select name="hill-{{hill.id}}">
      {% for pusher in buggyRoll.roll.pushers %}
        <option value="{{pusher.id}}" {% if hill.pusher == pusher %} selected {% endif %}>
          {{pusher.name}}
        </option>
      {% endfor %}
      </select>
    {% else %}
      {{ hill.pusher }}
    {% endif %}
    </td>
    {% endfor %}
  </tr>
{% endfor %}
</table>