{% extends "__base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Buggy order</h2>
      <form action="{% url "create_roll" rollsDay.id %}" method="POST" class="form">
        {% csrf_token %}
        <div class="form-group">
          <select name="buggies" id="buggy-select" multiple='multiple'>
            {% for buggy in buggies %}
              <option value="{{buggy.id}}">{{ buggy.name }}</option>
            {% endfor %}
          </select>
        </div>
        <input type="submit" class="btn btn-default" value="Generate Roll order">
      </form>
    </div>
    <div class="col-md-6">
      <h2>Active pushers</h2>
      <a href="{% url "edit_active_pushers" rollsDay.id %}">Edit active pushers</a>
      <ul>
        {% for pusher in rollsDay.active_pushers.all %}
          <li>{{ pusher.name }} - {{ pusher.phone }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}

{% block resources %}
<script src="{% static "js/create_roll.js" %}"></script>
{% endblock resources %}