{% extends "__base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Roll order</h2>
      {% include "_roll_table.html" with rolls=roll.buggyroll_set.all %}
    </div>
    <div class="col-md-6">
      <h2>Active pushers</h2>
      <a href="{% url "edit_active_pushers" roll.day.id %}">Edit active pushers</a>
      <ul>
        {% for pusher in roll.day.active_pushers.all %}
          <li>{{ pusher.name }} - {{ pusher.phone }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}

{% block resources %}
<script src="{% static "js/create_roll.js" %}"></script>
{% endblock resources %}