{% extends "__base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% for rollsDay in rollsDays %}
        <h3>{{ rollsDay.date }}</h3>
        <h4>Active Pushers</h4>
        <a href="{% url "edit_active_pushers" rollsDay.id %}">Edit active pushers</a>
        <ul>
        {% for pusher in rollsDay.active_pushers.all %}
          <li>{{ pusher.name }} - {{ pusher.phone }}</li>
        {% endfor %}
        </ul>
        <h4>Rolls</h4>
        <a href="{% url "create_roll" rollsDay.id %}">Create new roll</a>
        {% for roll in rolls %}
          
        {% endfor %}
      {% endfor %}
    </div>
    <div class="col-md-4">
      <h2>New Day of Rolls</h2>
      <form action="{% url 'create_roll_day' %}" method="POST" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
          <label for="date">Date</label>
          <input id="rolls-date" type="date" class="form-control" name="date">
        </div>
        <input type="submit" value="Create">
      </form>
    </div>
  </div>
</div>
{% endblock content %}